label:hover{
    font-family: "Sarabun", sans-serif;
    background-color:deeppink;
    border-color: black;
}
h1:hover{
    
    background-color: yellow;
}
input:hover{
    
    background-color: violet;
}
section:hover{
    
    background-color: aqua;
}   